html {
  /* background: linear-gradient( 0deg, rgb(5 9 19) 29%, rgb(18 26 43) 53%, rgb(19 26 35) 100%); */
  background: linear-gradient( 8deg, rgb(97 31 255 / 80%) 17%, rgb(109 0 255 / 88%) 53%, rgb(69 21 215) 100%);
  height: 110vh;
  overflow-x: overlay;
}

main {
  margin: 0;
}

h4 {
  border: 1px solid #ffffffc7;
  padding: 0.8rem;
  width: 6rem;
  text-align: center;
  margin: 1rem;
  background: #6720c4;
  border-radius: 55px;
  box-shadow: 3px 3px 0px 2px rgb(75 0 255 / 45%);
}

#setting-wrapper {
  display: flex;
  position: fixed;
  background: linear-gradient( 199deg, rgb(220 31 255 / 80%) -118%, rgb(118 18 251 / 48%) 53%, rgb(37 195 255 / 44%) 100%);
  width: 100%;
  padding-top: 2rem;
  margin: 0;
  box-shadow: 62px 31px 0px -19px rgb(0 0 0 / 18%);
}

#left-section {
  /* border: 1px solid white; */
  color: white;
}

#right-section {
  width: 1500px;
  background: #00000087;
}

#close-section {
  color: white
}

section {
  color: white;
  display: flex;
  align-items: baseline;
  justify-content: stretch;
}

section div {
  /* width: 10vh;
    margin: 0 10px; */
}

article {
  display: flex;
  align-items: center;
}

article div {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: inherit;
  margin: 0 10px 0 10px;
}

#data-box {
  width: 150vh;
}

label {
  font-weight: 600;
  font-size: 17px;
  background: #36b3ad57;
  background: linear-gradient( 331deg, rgb(31 74 76) -32%, rgb(12 23 22) 100%);
  display: flex;
  padding-block-end: 5px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 80px;
}

input[type="text"], textarea {
  background-color: black;
  color: white;
  border: 0;
  /* border-bottom: 1px solid; */
  padding: 10px;
  font-size: 16px;
  letter-spacing: 1px;
}

.input-wrap {
  width: 100%;
}

.input-group {
  flex-wrap: nowrap;
  width: 100%;
}

#width, #target {
  width: 6vh
}

#data-list {
  width: 100%;
}

#svg-area {
  min-height: 100vh;
  /* position: relative; */
  display: flex;
  padding: 0;
  /* z-index: -990; */
  align-items: center;
}

#search-answer {
  font-size: 20px;
}

button {
  background: black;
  color: white;
  padding: 10px 20px;
  font-size: 17px;
  border-radius: 3px;
  border: 1px solid;
  cursor: pointer;
}